* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
}

.list {
  border-collapse: collapse;
  width: 90%;
  margin: 10px auto;
  table-layout: fixed;
}
.list .list-header {
  display: flex;
  background-color: #e54363;
  color: aliceblue;
}
.list .list-header li {
  flex: 1 1 0px;
}
.list ul > li {
  padding: 10px 100px 10px 10px;
  white-space: nowrap;
}
.list .list-body: {
  width: 100%;
  color: #000;
}
.list .list-body ul {
  display: flex;
  width: 100%;
}
.list .list-body li {
  flex: 1 1 0px;
  /* text-overflow: ellipsis;
  overflow: hidden;
  */
  font-size: 13px;
}
.list .list-body ul > li {
  font-weight: normal;
}
.list .list-body ul > li.bold {
  font-weight: bold;
}
.list .list-body li .fa-folder,
.list .list-body li .fa-folder-open {
  color: #768e9e;
}
.list .list-body li .fa-file {
  color: #2973a5;
}
.list .list-body li.dir {
  cursor: pointer;
}
.list-body > ul:nth-child(odd) {
  background-color: #f4cfd1;
}
.list-body > ul:nth-child(even) {
  background-color: #fbe7ea;
}

.list .list-body li > ul {
  margin: 5px 0px -10px 10px;
}

.form-container {
  background-color: #ebebeb;
  padding: 10px;
}
.form-container form {
  padding-top: 20px;
  width: 90%;
  margin: auto;
}
.form-container form label {
  padding-bottom: 10px;
  display: block;
  color: #838282;
}

.form-container input[type='text'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}

.form-container input[type='submit'] {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.loader {
  position: fixed;
  display: none;
  align-items: center;
  justify-content: center;
  height: -webkit-fill-available;
  flex-direction: column;
  width: -webkit-fill-available;
}
.loader > i {
  color: #2667f3;
  font-size: 20px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
