<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>W</title>
    <link href="styles/index.css" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="form-container">
        <form method="post">
            <label for="name">Enter the repo name:</label>
            <input type="text" id="name" name="name" placeholder="ex: https://github.com/rust-lang/rust">
            <label for="keyword">Enter the keyword:</label>
            <input type="text" id="email" name="keyword" placeholder="ex: license, copyright">
            <input type="submit" value="Submit">
        </form>
    </div>
    <table>
        <tr>
            <th>File Tree</th>
            <th>Open Source License</th>
            <th>Copyright</th>
        </tr>
        <% for (let i = 0; i < files.length; i++) { %>
        <tr>
            <td><%= files[i].name %><%= files[i].type === 'folder' ? '/' : '' %></td>
            <td><%= files[i].license %></td>
            <td><%= files[i].copyright %></td>
        </tr>
        <% } %>
    </table>
    <script src="scripts/index.js"></script>
</body>
</html>